.profile {
    width: 500px;
    margin: auto;
    background-color: antiquewhite;
    margin-top: 20%;
}

hr {
    width: 450px;
    margin: auto;
    border: 2px solid #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.links {
    font-size: 30px;
}

.links a {
    color: black;
}

.profile-pic {
    margin-top: 10px;
    width: 40%;
    border-radius: 50%;
    border: 2px solid whitesmoke;
}